<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Python Assistant</title>
    <link rel="icon" href="static/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="/static/styles/base.css">
    <link rel="stylesheet" href="/static/styles/header.css">
    <link rel="stylesheet" href="/static/styles/main.css">
    <link rel="stylesheet" href="/static/styles/footer.css">
    <link rel="stylesheet" href="/static/styles/buttons.css">
    <link rel="stylesheet" href="/static/styles/weather_cards.css">
    <link rel="stylesheet" href="/static/styles/news.css">

</head>
<body>
    <div class="container">
        <header>
            <div class="header-content">
                <h1>Personal Assistant</h1>
                <p class="p-header">Ваш персональный помощник</p>
            </div>
        </header>

        <main>
            <div class="main-content">
                <div class="header-flex">
                    <h2>Курс валют на {{today}}</h2>
                    <h3>Курс Доллара: {{ usd }} </h3>
                    <h3>Курс Евро: {{ eur }} </h3>
                </div>
                <div class="header-flex">
                    <h2>Прогноз погоды на 21 час</h2>
                    <h3>Выберите город </h3>
                    <form action="/weather" method="get">
                        <select id="city_choices" name="city">
                            {% for choice in city_choices %}
                            <option value="{{ choice }}" {% if choice == selected_city %}selected{% endif %}>
                                {{ choice }}
                            </option>
                            {% endfor %}
                        </select>
                        <button type="submit" class="submit-button">Получить прогноз погоды</button>
                    </form>
                </div>
                <div id="weather-container" class="weather-grid">
                    {% for day, time, temp, type in weather_data %}
                    <div class="weather-card">
                        <h3>{{ day }}</h3>
                        <p>Время: {{ time }}</p>
                        <p>Градусов: {{ temp }}°C</p>
                        <p>Погода: {{ type }}</p>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </main>

        <footer>
            <div class="footer-content">
                <p>&copy; 2025 Personal Assistant. Все права защищены.</p>
            </div>
        </footer>
    </div>
</body>
</html>
