/* Стиль для кнопки отправки */
.submit-button {
    background: #4CAF50;
    color: white;
    text-align: center;
    padding: 5px 10px;
    border: 5px;
    border-radius: 4px;
    font-size: 16px;
    transition: background 0.3s ease;
    cursor: pointer;
    min-width: 202.4px;
}

.submit-button:hover {
    background: #45a049;
}