/* Стили для footer */
footer {
    background: #333; /* Темный фон */
    color: white;
    text-align: center;
    padding: 10px 0; /* Отступы */
    border-top: 1px solid #444; /* Разделительная линия */
    margin-top: auto; /* Отступ между main и footer */
    flex-shrink: 0; /* Запрещаем сжимать footer */
}