/* Стили для header */
header {
    background: #4CAF50; /* Зелёный фон */
    color: white;
    text-align: center;
    padding: 20px; /* Отступы */
    flex-shrink: 0; /* Запрещаем сжимать header */
}

header h1 {
    font-size: 2.5rem;
    line-height: none;
}

header p {
    font-size: 1.2rem;
    padding: 10px;
}

/* Стили для контейнера */
.header-flex {
    display: flex; /* Включаем Flexbox */
    align-items: center; /* Выравниваем элементы по центру вертикально */
    gap: 10px; /* Добавляем пространство между h2 и select */
    width: 100%; /* Занимаем всю доступную ширину */
    padding-bottom: 10px;
}

/* Стили для h2 */
.header-flex h2 {
    margin: 0; /* Убираем стандартные отступы у h2 */
    font-size: 1.5rem; /* Размер шрифта */
    flex: 1; /* Занимает всё доступное пространство */
}

/* Стили для select */
.header-flex select {
    padding: 5px 10px; /* Добавляем внутренние отступы */
    border: 1px solid #ccc; /* Граница */
    border-radius: 4px; /* Скругление углов */
    font-size: 1rem; /* Размер шрифта */
    min-width: 200px; /* Минимальная ширина для select */
    margin-right: 10px;
}
