.weather-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
    margin-bottom: 20px;
}

.weather-card {
    background: white;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 15px;
    text-align: left;
    transition: transform 0.3s ease;
}

.weather-card:hover {
    transform: translateY(-5px);
}

.weather-card h3 {
    font-size: 1.5rem;
    margin-bottom: 10px;
    text-align: center;
}

.weather-card p {
    font-size: 1.2rem;
    margin: 5px 0;
    border-bottom: 0.1px solid black;
}
